mat-card{
    width: 80%;
    margin-top: 5%;
    margin: auto;
  }
  .login-container {
    display: flex;
    flex-direction: column;
  }
  .container{
    margin-top:3%;
  }
  h1,h2,h3,h4,h5,h6{
    text-align: center;
}
#hi{
  text-align: center;
}
#loginButton{
    margin-top:3%; 
    width: 50%;
    align-self: center;
  }
  .error{
      color: red;
      text-align: center;
  }



  