.jumbotron{
    background-color: rgb(2, 13, 46);
    padding-bottom: 18px;
    padding-top: 20px;
    
  }
  .display-4{
    color: seashell;
    text-align: center;
    padding-bottom: 5px;
  }
  .hi{
    margin-top:0px;
    text-align: center;
  }