
  <div class="hi">
    <h4 class="h4"> <b>Enter your new password to chnge your password</b></h4><br>
    
  </div>
  <div class="row form-group col-12 mt-4">
    <mat-card>
  
      <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your Email</ng-template>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="firstCtrl" required [(ngModel)]="email" >
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your Password</ng-template>
            <mat-form-field>
              <input matInput placeholder="password" formControlName="secondCtrl" required [(ngModel)]="password"  >
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Fill out your New Password</ng-template>
            <mat-form-field>
              <input matInput placeholder="New Password" formControlName="thirdCtrl" required [(ngModel)]="newPassword" >
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Fill out your Confirm Password</ng-template>
            <mat-form-field>
              <input matInput placeholder="Confirm Password" formControlName="fourthCtrl" required [(ngModel)]="conPassword"  >
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <button mat-raised-button color="primary" id="passwordButton" [disabled]="!email ||  !password  ||  !newPassword ||  !conPassword " class="btn custom-button align-content-md-center" type="submit" (click)="changepassword()">Submit</button>
      <p class="error">{{errorMsg}}</p>
   


  
    </mat-card>
  </div>



  
  
    
